<h3>crear producto</h3>

<button onclick="location.href='/api/productos'">Inicio</button>

<form action="" method="post">
    <input type="text" name="nombre" id="" placeholder="nombre">
    <input type="number" name="precio" id="" placeholder="precio">
    <h5>categoria</h5>
    <input type="radio" value="tecnologia" name="categoria" id="tecnologia">tecnologia
    <input type="radio" value="comida" name="categoria" id="comida">comida
    <input type="radio" value="indumentaria" name="categoria" id="indumentaria">indumentaria
    <h5>descripcion</h5>
    <textarea name="descripcion" id="" cols="30" rows="10" placeholder="descripcion"></textarea><br>
    <input type="submit" value="crear">
</form>